
 .primer_fila{
/*      background: #e8e8e8; */
     font-weight:bold;
/*      font-size: 13px !important; */
/*      background: #B0BED9; */
/*      background: red; */
 }
 
 .segunda_fila{
/*     background: #bcd4d4; */
 	font-style: italic;
/*  	font-size: 10px !important; */
	color: blue;
 }
  .tercera_fila{
 	font-style: italic;
	color: #009eda;
 }
 .cuarta_fila{
 	font-style: italic;
	color: #5b15cc;
 }
 .quitar_espacios{
 	padding-top: 0;
 	padding-bottom: 0;
 }
 .table > tbody > tr > td, .table > tbody > tr > th,.table > tbody > tr > td, .table > tbody > tr > td{
 	vertical-align:inherit !important;
/*  	align-items: center !important; */
    padding: 0px !important;

}
  #example tbody tr{
 	cursor:pointer;
 }

/*    #example tbody tr td{ */
/*  	text-align: center; */
/*  } */
 
 .td_center{
/*  	background:red; */
/*  	color: blue; */
 	text-align: center !important;
 }
 .table-hover > tbody > tr:hover {
    background-color: #b3a8ce !important;
}
.navbar-top-links li a {
    padding: 2px !important;

}